{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
    <a href="{{ path('article_list') }}">Retour à la liste</a>
{% endblock %}
